/*
* @Author: Administrator
* @Date:   2017-02-23 15:59:41
* @Last Modified by:   Julia-zhang
* @Last Modified time: 2017-02-24 10:22:39
*/

/* 这个css主要做的事情是将这个项目的一些公共元素提取出来，为了以后的复用 */


/* 精灵图缩放公共类 */
.jd-icons:before{
	content: '';
	background:  url(../image/icons/jd-sprites.png)  no-repeat;
	/* 这里不能直接写50% 因为这个百分比参照的是当前元素的宽高 */
	-webkit-background-size: 200px 200px;
	background-size: 200px 200px;
}
/* 水平垂直公共类  */
.jd-center,.jdw-center:before {
	position: absolute;
	left: 50%;
	top: 50%;
	-webkit-transform :translate(-50%,-50%);
	transform :translate(-50%,-50%);
}
/* 垂直居中公共类 */
.jd-center-y,.jdw-center-y:before {
	position: absolute;
	top: 50%;
	-webkit-transform :translateY(-50%);
	transform :translateY(-50%);
}
/* 水平居中公共类*/
.jd-center-x,.jdw-center-x:before {
	position: absolute;
	left: 50%;
	-webkit-transform :translateX(-50%);
	transform :translateX(-50%);
}