/*
* @Author: Administrator
* @Date:   2017-02-23 14:46:11
* @Last Modified by:   Julia-zhang
* @Last Modified time: 2017-02-24 09:43:22
*/
/* 头部样式 */
.jd-header {
	height: 40px;
	position: fixed;
	/* 一旦定位了，就脱标了，就不会继承宽度，所以需要加上width：100% */
	width: 100%;
	left: 0;
	top: 0;
}
.jd-header > .left {
	width: 75px;
	height: 40px;
	position: relative;
}
.jd-header > .left:before {
	width: 56px;
	height: 20px;
	background-position: 0 -110px;
	/* 
		在这里里面提取出来了很多的一些公共样式 
		背景精灵图缩放
		这个200 是用设计图的宽度/320
		background-size: 200px 200px;

		还提取了一个水平垂直居中公共类
		position:absolute;
		left: 50%;
		top:50%;
		transform :translate(-50%,-50%);
	*/
}
.jd-header > .right {
	width: 50px;
	height: 40px;
	text-align: center;
	line-height: 40px;
	color: #fff;
	font-size: 14px;
}
.jd-header > .center {
	height: 40px;
	padding-top: 5px;
	-webkit-box-sizing:border-box;
	box-sizing:border-box;
	margin: 0 50px 0 75px ;
	position: relative;
}
.jd-header > .center:before {
	width: 19px;
	height: 19px;
	left: 5px;
	background-position: -60px -110px;
}
.jd-header > .center > input[type="search"]{
	height: 30px;
	width: 100%;
	background-color: #fff;
	border-radius: 15px;
	text-indent: 25px;
}

/* 主导航区域 */
.jd-nav {
	padding: 10px 0;
	background-color: #F3F3F3;
}
.jd-nav li a{
	display: block;
	padding:0 10px;
}
.jd-nav li p {
	text-align: center;
	line-height: 32px;
	font-size: 14px;
}

/* 京东快报 */
.jd-news {
	background-color: #F3F3F3;
	padding:7px 10px;
}
.jd-new-info {
	height: 30px;
	background-color: #fff;
	border-radius: 5px;
}
.jd-new-info .left {
	width: 82px;
	height: 30px;
	position: relative;
}
.jd-new-info .right {
	width: 40px;
	height: 30px;
	line-height: 30px;
}
.jd-new-info .center {
	height: 30px;
	margin: 0 40px 0 82px;
	position: relative;
	overflow: hidden;
}
.jd-new-info .center .scroll-wrap {
	position: absolute;
	width: 100%;
	left: 0;
	top: 0;
}
.jd-new-info .center .scroll-wrap li {
	height: 30px;
	line-height: 30px;
	text-indent: 10px;
}